.app-body {
  margin-top: 20px;
}

.nav-styles {
  background-color: #232636;
}
.nav-styles a {
  color: grey;
}

.nav-styles a:hover {
  color: #c9c9c9;
}

.nav-link.active {
  color: #871824 !important;
}

.dropdown-links a {
  color: #1a1b22;
}

.dropdown-links a:hover {
  color: #252830;
}
